/**
 * @author WMXPY
 * @namespace Route
 * @description Entry
 */

@import '../common/color.sass';

.container {
    margin: 4rem;
    margin-bottom: 5rem;
    position: relative;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
        'title'
        'nav'
        'content';
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.language-setting {

    font-family: $font;
    font-size: 0.9rem;

    cursor: pointer;
    border: 0;

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: inherit;

    &:focus {
        outline: 0;
    }
}

.language-bar {

    background-color: rgba($color: #FFFFFF, $alpha: 0.8);

    padding-left: 4rem;
    padding-right: 3rem;
    width: calc(100% - 7rem);

    position: fixed;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.title {

    grid-area: title;
}

.nav {

    display: flex;
    align-items: flex-end;

    grid-area: nav;
}

.sign-in {

    color: $navy;

    &:hover {

        cursor: pointer;
        text-decoration: underline;
    }
}

.content {

    grid-area: content;
}