/**
 * @author WMXPY
 * @namespace Route
 * @description Entry
 */

@import '../common/color.sass';

.container {
    margin: 4rem;
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
        'title'
        'nav'
        'content';
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.title {

    grid-area: title;
}

.nav {

    display: flex;
    align-items: flex-end;

    grid-area: nav;
}

.sign-in {

    color: $navy;

    &:hover {

        cursor: pointer;
        text-decoration: underline;
    }
}

.content {

    grid-area: content;
}