/**
 * @author WMXPY
 * @namespace Route
 * @description User
 */

.search-bar {

    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas: 'search tool';
    grid-template-columns: 5fr 1fr;
}

.search {

    grid-area: search;
}

.single {

    grid-area: tool;
}