/**
 * @author WMXPY
 * @namespace Application
 * @description Edit
 */

@import "../../common/color.sass";

.name-container {
    display: flex;
}

.name-input {
    flex: 1;
    margin-right: 0;
}

.regexp-input {
    margin-top: 0;
}

.test-box {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.preview-image {
    height: 100px;
    margin: 0.5rem;
}