/**
 * @author WMXPY
 * @namespace Page
 * @description Nav
 */

@import '../common/color.sass';

.nav-wrapper {

    width: 100%;
    display: grid;
    grid-template-areas:
        'main out'
        'sub out';
    grid-template-columns:
        auto 1fr;
    grid-template-rows:
        auto auto;
}

.main-area {

    grid-area: main;
    display: flex;
}

.sub-area {

    border-top: 0.2rem solid $navy;
    grid-area: sub;
    display: flex;
}

.out-area {

    grid-area: out;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    justify-items: flex-end;
}

.common-button {

    cursor: pointer;
    transition: all 0.2s;
    font-weight: bold;

    outline: 0;
    border: 0;
}

.sub-button {

    background-color: $trans;
    padding-left: 0.6rem;
    padding-right: 0.6rem;

    font-size: 1rem;
    height: 2.2rem;
    border-top: 0.3rem solid $trans;
    border-bottom: 0.3rem solid $trans;

    &:hover {
        border-top: 0.3rem solid $lime;
    }

    &.selected {
        background-color: $navy;
        color: $white;
    }

    &:active {
        border-top: 0.3rem solid $navy;
    }
}

.nav-button {

    font-size: 1.1rem;
    height: 3rem;
    background-color: $white;
    color: $navy;

    padding-left: 1.2rem;
    padding-right: 1.2rem;

    border-top: 0.3rem solid $trans;
    border-bottom: 0.3rem solid $trans;

    &:hover {
        border-bottom: 0.3rem solid $lime;
    }

    &.selected {
        color: $white;
        background-color: $navy;
    }

    &:active {
        border-bottom: 0.3rem solid $navy;
    }
}

.organization-button {
    width: auto !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}